* {
    box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  background-image: url(https://wallpapers.com/images/featured/cool-black-background-zuepoib34iujg4he.jpg);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 8px 10px;
    background: linear-gradient(90deg, black, #232222);
}

.nav-left {
  display: flex;
  align-items: center;
  margin-left: 12px;
  gap: 20px;
}

.nav-left img {
  height: 45px;
  width: auto;
  border-radius: 50%;
}

.nav-left p {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
    margin-right: 25px;
}

.nav-links a {
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 4px 0;
  transition: color 0.25s ease;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: #2563eb;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

section {
    height: 90vh;
    display: flex;
    width: 100%;
    background-size: cover;
    color: white;
}

.intro {
    width: 45%;
    height: auto;
    margin: 100px 50px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: "BBH Bartle", sans-serif;
    font-weight: normal;
    font-size: 3.5rem;
    text-shadow: rgb(243, 166, 24) 2px -2px 20px;
}

h2 {
    font-family: "BBH Bartle", sans-serif;
    font-weight: 100;
}

.intro p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.intro p b {
    text-shadow: #e063de 2px 0 10px;
}

#exp {
    padding: 1rem 2rem;
    width: 150px;
    background: linear-gradient(180deg,#ffffff,#f6f7f8);
    border: solid white;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: black;
    transition: all 0.5s;
}

#exp:hover {
  box-shadow: 0 10px 25px rgba(255, 255, 255, 0.86);
  background: linear-gradient(90deg,#ffffff,#fcfddc);
  transform: translateX(4px);
}

.video {
    width: 55%;
    padding: 20px;
    display: flex;
    align-items: center;
}

/*.box {
  width: 90%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-radius: 5%;
}*/

video {
    height: 70%;
    box-shadow: 0 0 20px rgba(239, 209, 76, 0.8);
}

@media (max-width: 1265px) {
    section {
        flex-direction: column;
        height: auto;
    }

  .video {
    order: 1;
    justify-content: center;
    width: 100%;
  }

  .intro {
    order: 2;
    width: 100%;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 0px;
  }

  .intro h1,h2,p {
    width: 80%;
    text-align: center;
  }
  
  .video video {
    width: 80%;
    height: auto;
  }
}

@media (max-width:800px) {
    h1 {
        color: purple;
    }
}

/*top padding for nav bar when squeezed, 90+10vh but still scrollable?*/
/*media query 100% width has extra white space to the right why*/
/*intro section no change when toggle height*/
